# Database
database.db

# Docker runtime súbory
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Testing
.pytest_cache/
.coverage
